<footer class="py-24" style="margin-top: 13px; margin-bottom: 24px; display: flex; align-items: center; justify-content: space-between;">
    <a href="https://www.instagram.com/dadada.maomaomao/" target="_blank" rel="noopener noreferrer" style="margin-right: 8px;">
        <img src="instagram.png" alt="Instagram" style="width: 24px; height: 24px;">
    </a>
    <!-- <a href="/dm-o.pdf" target="_blank" rel="noopener noreferrer" class="f:fade-30 f:9 mb:0" style="color: white; font-weight: bold;" download>PDF</a> -->
</footer>